<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CharacterGO-Result</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="../static/css/freelancer.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- Plotly.js -->
    <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
     <script src="https://code.jquery.com/jquery-2.1.0.min.js" integrity="sha256-8oQ1OnzE2X9v4gpRVRMb1DWHoPHJilbur1LP9ykQ9H0=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="../static/js/bootstrap.js"> </script>
      <script   src="https://code.jquery.com/ui/1.10.0/jquery-ui.min.js"   integrity="sha256-hTpbeVXhgCmfO7nGcWp9d1kImKbzY6gN0Vo5u5wLuss="   crossorigin="anonymous"></script>  
    

  <link href="../static/css/vis-network.min.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript" src="./static/js/vis.js"></script>


</head>

<body id="page-top" class="index" onload="draw()">

    <!-- Navigation -->
    <nav id="foodnav"  class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div id="navinfo" class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="websitename"class="navbar-brand topnav" href="/">CharacterGO</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                     <li>
                       <a href="/" id="login">Home</a>
                    </li>
     
                    <li>
                        <a href="login.html" id="login">Login</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header -->
<!-- <div class="row" style="margin-top: 55px !important;">
    <div class="col-md-5 col-md-offset-2">
        <div class="row">
            <h4>Your LongUrl is:</h4>
        </div>
        <div class="row">
            <h3>Your shortUrl is:</h3>
            !!This sentence, ng-href need to be the shortUrl that are in DB, if you use showShortUrl, it cannot work
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading ">Text</div>
            <h4 class="panel-body">{{text}}</h4>
        </div>
    </div>
</div> -->
<!-- 
<div id="graph1"></div>
<div id="graph2"></div>
<div id="graph3"></div>
 -->

<!-- <div class="row" style="margin-top: 55px !important;"> -->


<div class="row" style="margin-top: 55px !important;">
<div class="col-md-6">
    <div id="graph1"></div>
    </div>
<div class="col-md-6">
    <div id="graph2"></div>
</div>
</div>

<div class="row" style="margin-top: 55px !important;">
<div class="col-md-6">
    <div id="graph3"></div>
</div>
<div class="col-md-6">
    <div id="mynetwork"></div>
</div>
</div>

<!-- <div> 
    <object type="text/html" data="tmp.txt.html" width="800px" height="600px" style="overflow:auto;border:5px ridge blue">
    </object>
 </div> -->
<div id='y'></div>

</body>
<footer>
<script type="text/javascript">
           
       var graphs = {{graphJSON | safe}};
       // var nodes = {{nodesJSON | safe}};
       // var edges = {{edgesJSON | safe}};

        // var ids = {{ids | safe}};
        var ids = ["graph1","graph2","graph3"]
        console.log(ids);
        console.log(graphs);
        for(var i in graphs) {
            Plotly.plot(ids[i], // the ID of the div, created above
                        graphs[i].data,
                        graphs[i].layout || {});
        };

    var nodes = null;
    var edges = null;
    var network = null;

    function draw() {
      // create people.
      // value corresponds with the age of the person
       var DIR = './img/';

      nodes = [
        {id: 1,  value: 32, label: 'Harry',shape: 'circularImage', image: DIR + 'Harry.jpg' },
        {id: 2,  value: 32, label: 'Hermion',shape: 'circularImage', image: DIR + 'Hermion.jpg'},
        {id: 3,  value: 32, label: 'Ron',shape: 'circularImage', image: DIR + 'Ron.jpg'},
        {id: 'Dumb',  value: 32, label: 'Dumbledore' ,shape: 'circularImage', image: DIR + 'Dumbledore.png'},
        {id: 7,  value: 32, label: 'Snape' ,shape: 'circularImage', image: DIR + 'Snape.jpg'},
        {id: 8,  value: 32, label: 'Draco' ,shape: 'circularImage', image: DIR + 'draco_malfoy.jpg'},

      ];

      // create connections between people
      // value corresponds with the amount of contact between two people
      edges = [
        {from: 1, to: 2, value: 'Dumb', color:{color:'green'}},
        {from: 1, to: 3, value: 2,  color:{color:'green'}},
        {from: 2, to: 3,value:  3,  color:{color:'green'}},
        {from: 1, to: 'Dumb', value: 2,label: 'Acquaintance' , color:{color:'blue'}},
        {from: 1, to: 7, value: 1, label: 'Enemy' , color:{color:'red'}}
      ];

      // Instantiate our network object.
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          shape: 'dot',
          scaling:{
            label: {
              min:8,
              max:20
            }
          }
        }
      };
      network = new vis.Network(container, data, options);
    }
     // Instantiate our network object.
        //   var container = document.getElementById('mynetwork');
        //   var data = {
        //     nodes: nodes,
        //     edges: edges
        //   };
        //   var options = {
        //     nodes: {
        //       shape: 'dot',
        //       scaling:{
        //         label: {
        //           min:8,
        //           max:20
        //         }
        //       }
        //     }
        //   };
        // network = new vis.Network(container, data, options);
        //load the parsed page from book-nlp
        $("#y").load("tmp");

    </script>

    <!-- D3.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <!-- Plotly.js -->
    <!-- <script src="https://d14fo0winaifog.cloudfront.net/plotly-basic.js"></script> -->


</footer>
</html>
